<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
    <div class="main">
        <h4>Type your location to get weather updates</h4>
        <form method="post" action="/">
            <input type="text" class=" input" name="city">
            <input class="button" type="submit" value="Search">
        </form>
        <p>{{weatherMessage}}</p>
    </div>

    <div class="rooter">
        <p>Copyright Weathermap&copy;</p>
    </div>
</body>

</html>